body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}
canvas {
    width: 100%;
    height: 500px;
}
video {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 150px;
    border: 2px solid white;
}